body {
  margin: 0px;
  background-color: #121212!important;
}
.scrollbar-thumb {
  background-color: rgba(233, 49, 76, 1)!important;
  border-radius: 15px!important;
  border: rgba(233, 49, 76, 1)!important;
  border: 2px solid #000000!important;
}
.scrollbar-track {
  background-color: #000000!important;
  width: 7px!important;
  
}


